<body class="faq">
<h1>Frequently Asked Questions</h1>
<ul>
  <li>
    <input type="checkbox" checked>
    <i></i>
    <h2 class="question">What is Ethical Eating?</h2>
        <p class="answer">
            Ethical Eating is all about helping you make more educated decisions about your food. We aim to inform you about the impact of such choices on the community,
            animals and the environment so that you can strive to reach the best conclusion for you. After all, we believe that every positive effort made on these issues 
            is important and worthwile.
        </p>
  </li>
  <li>
    <input type="checkbox" checked>
    <i></i>
    <h2 class="question">Can I look up recipes using this website?</h2>
        <p class="answer">
            Yes! You can view available recipes by first selecting a meal category from the homepage. From there, simply click on a recipe of your choice to view its
            common ingredients.
        </p>
  </li>
   <li>
    <input type="checkbox" checked>
    <i></i>
    <h2 class="question">How do I build my own recipe?</h2>
        <p class="answer">
            From the navbar, click on "Build a Recipe". Here, you are given a list of ingredients available to add to your custom recipe. Click the "Add" button to add the
            selected ingredient to your custom recipe on the left. You can always remove ingredients from your custom recipe even after you have added them.
        </p>
  </li>
   <li>
    <input type="checkbox" checked>
    <i></i>
    <h2 class="question">How do I find out more information about each ingredient?</h2>
        <p class="answer">
            You can view more information about individual ingredients in the "Build a Recipe" page by clicking the "Info" button next to your ingredient of choice. The
            ingredient name, the issue associated with the ingredient, and any available alternatives for the selected ingredient will populate on the section to the right
            of the ingredient.
        </p>
  </li>
  <li>
    <input type="checkbox" checked>
    <i></i>
    <h2 class="question">How do I save a recipe for later viewing?</h2>
        <p class="answer">
            You must be logged in to your account to save a recipe for later viewing. To register for a new account, click on "Register" from any page. You will be prompted
            to fill out a form and submit it. Once you have succesfully created an account, you will be able to log in and save a recipe from the "Build a Recipe" page.
        </p>
  </li>
</ul>
</body>

<script type="module" src="js/register.js"></script>
<link rel="stylesheet" type="text/css" href="css/faq.css">
