</div>

<div class="hp_options" id="food">
    <div class="column">

        <a href="category/Breakfast">
            <div class="image">
                <img src="images/breakfast.jpg" alt="breakfast">
            </div>
            
        </a>

        <span id="label"><a href="/breakfast">View Breakfast Recipes</a></span>
    </div>

    <div class="column">

        <a href="category/Lunch">
            <div class="image">
                <img src="images/lunch.jpg" alt="lunch">
            </div>
            
        </a>
        <span id="label"><a href="/lunch">View Lunch Recipes</a></span>
    </div>

    <div class="column">
        <a href="category/Dinner">
            <div class="image">
                <img src="images/dinner.jpg" alt="dinner">
            </div>
            
        </a>
            <span id="label"><a href="/dinner">View Dinner Recipes</a></span>
    </div>

</div>
<script type="module" src="js/register.js"></script>
